<header>
  <div class="logo">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" style="display: flex;">
      <img src="assets/avtar_logo.jpeg" alt="Trust Logo">
      <img src="assets/avtar_text.jpeg" id="logo-text" alt="Trust Logo Text">
    </a>
  </div>

  <nav>
    <ul class="menu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>

      <li>
        <a routerLink="/about-us" routerLinkActive="active">
          About Us
        </a>
      </li>

      <li>
        <a routerLink="/photos" routerLinkActive="active">Photos</a>
      </li>

      <li>
        <a routerLink="/achievements" routerLinkActive="active">Achievements</a>
      </li>

      <li>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
