<header>
  <div class="logo">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img src="assets/avtar_logo3.jpeg" alt="Trust Logo">
    </a>
  </div>

  <nav>
    <ul class="menu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>

      <li>
        <a routerLink="/about-us" routerLinkActive="active">
          About Us <span class="arrow">▼</span>
        </a>
        <ul class="dropdown">
          <li><a routerLink="/about-us">Our Mission</a></li>
          <li><a routerLink="/about-us">Our Vision</a></li>
          <li><a routerLink="/about-us">Get Involved</a></li>
        </ul>
      </li>

      <li>
        <a routerLink="/photos" routerLinkActive="active">Photos</a>
      </li>

      <li>
        <a routerLink="/achievements" routerLinkActive="active">Achievements</a>
      </li>
    </ul>
  </nav>
</header>
